@font-face {
  font-family: Roboto;
  src: url("../../static/fonts/Roboto-Regular.woff2") format("woff2"),
    url("../../static/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../../static/fonts/Roboto-Bold.woff2") format("woff2"),
    url("../../static/fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
}
