.base-container {
  position: relative;
  width: 560px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: inset 0 0 0 2px $black, 10px 10px 5px $primary;
}

.centered-container {
  margin: auto;
}

.base-row {
  & + & {
    margin-top: 16px;
  }
}