{{#>base title="Страница не найдена"}}
  <div class="centered-container">
    <div class="base-row">
      <img src="../../static/icons/404.svg" alt="">
    </div>
    <div class="base-row">
      {{#>title tag="h1" type="secondary"}}Такой странички неть :({{/title}}
    </div>
    <div class="base-row">
      {{>button tag="a" href="/" text="Вернуться к чатам" type="secondary"}}
    </div>
  </div>
{{/base}}
