{{#>base title="Сервер временно недоступен"}}
  <div class="centered-container">
    <div class="base-row">
      <img src="../../static/icons/server.svg" alt="Ошибка 500">
    </div>
    <div class="base-row">
      {{#>title tag="h1" styleType="secondary"}}Сервер устал и прилег:( Но мы его скоро разбудим{{/title}}
    </div>
    <div class="base-row">
      {{>button tag="a" href="/" text="Вернуться к чатам" styleType="secondary"}}
    </div>
  </div>
{{/base}}
