{{#>base title="Главная"}}
  <section class="messenger">
    <div class="messenger__aside">
      <div class="messenger__search">
        {{>input type="text" placeholder="Поиск..."}}
      </div>
      <ul class="messenger__chats">
        <li>{{>chat-card}}</li>
        <li>{{>chat-card}}</li>
        <li>{{>chat-card}}</li>
        <li>{{>chat-card}}</li>
        <li>{{>chat-card}}</li>
      </ul>
    </div>
    <div class="messenger__dialog">
      <div class="messenger__dialog-header">
        {{>avatar className="messenger__dialog-avatar"}}
        <span class="messenger__dialog-name">Дмитрий</span>
        <a class="messenger__dialog-button" href="./settings.hbs">
          <span class="visually-hidden">Открыть настройки</span>
        </a>
      </div>
      <div class="messenger__dialog-body">
        {{#>message className="messenger__dialog-message"}}
          Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА
          в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну.
          Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря,
          все тушки этих камер все еще находятся на поверхности Луны, так как астронавты
          с собой забрали только кассеты с пленкой.
        {{/message}}
        {{#>message className="messenger__dialog-message" isOpponent=true}}
          Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету
          они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно
          продали на аукционе за 45000 евро.
        {{/message}}
      </div>
      <div class="messenger__dialog-form-container">
        <form action="">
          <div class="messenger__dialog-form">
            <div class="messenger__dialog-input">
              {{>input type="text" placeholder="Сообщение..."}}
            </div>
            <button class="messenger__dialog-submit" type="submit"><span class="visually-hidden">Отправить сообщение</span></button>
          </div>
        </form>
      </div>
    </div>
  </section>
{{/base}}
