{{#>base title="Изменение пароля"}}
  <div class="base-container">
    {{#>title tag="h1"}}Изменение пароля{{/title}}
    {{#>form-container}}
      <div class="base-row">
        {{>form-field label="Старый пароль" id="oldPassword" name="oldPassword" type="password" placeholder="Secret_word"}}
      </div>
      <div class="base-row">
        {{>form-field label="Новый пароль" id="newPassword" name="newPassword" type="password" placeholder="New_secret_word"}}
      </div>
      <div class="base-row">
        {{>form-field label="Повторить новый пароль" id="newPasswordRepeat" name="newPasswordRepeat" type="password" placeholder="New_secret_word"}}
      </div>
      <div class="base-row">
        {{>button text="Сохранить" tag="a" href="/"}}
      </div>
    {{/form-container}}
  </div>
{{/base}}
