{{#>base title="Профиль"}}
  <div class="base-container">
    {{#>title tag="h1"}}Профиль{{/title}}
    {{>avatar className="settings__avatar"}}
    <div class="base-row">
      {{>form-field label="Имя" id="first_name" name="first_name" type="text" placeholder="Александр" readonly=true}}
    </div>
    <div class="base-row">
      {{>form-field label="Фамилия" id="second_name" name="second_name" type="text" placeholder="Невский" readonly=true}}
    </div>
    <div class="base-row">
      {{>form-field label="Логин" id="login" name="login" type="text" placeholder="Cool_man" readonly=true}}
    </div>
    <div class="base-row">
      {{>form-field label="Имя в чате" id="display_name" name="display_name" type="text" placeholder="Cool_man" readonly=true}}
    </div>
    <div class="base-row">
      {{>form-field label="Почта" id="email" name="email" type="email" placeholder="cool_man@mail.ru" readonly=true}}
    </div>
    <div class="base-row">
      {{>form-field label="Телефон" id="phone" name="phone" type="tel" placeholder="8(123)456-78-90" readonly=true}}
    </div>
    <div class="base-row">
      {{>button text="Изменить данные" tag="a" href="./profile-change.hbs"}}
    </div>
    <div class="base-row">
      {{>button text="Изменить пароль" tag="a" href="./password-change.hbs"}}
    </div>
    <div class="base-row">
      {{>button text="Выйти" tag="a" href="/" type="secondary"}}
    </div>
  </div>
{{/base}}