<div class="chat-card">
  {{>avatar className="chat-card__avatar"}}
  <div>
    <h3 class="chat-card__title">Название чата</h3>
    <p class="chat-card__info">Вы: Привет!</p>
  </div>
  <time class="chat-card__time" datetime="2022-05-15 12:46">12:46</time>
  <div class="chat-card__unread">42</div>
</div>
